// $myBlue: #4169E1;
// $myGreen: #8FBC8F;
// $headingColor:rgb(41, 38, 38);
// $textColor:rgb(59, 57, 57);
// $borderColor:rgba(0,0,0,.4);
// $textWhite:#ffffff;
// $colorBg: rgb(201, 190, 190); 

$deep:#B7B7B7;
$medium:#E0E0E0;
$light:#f6f6f6;
$extra_one:rgb(41, 38, 38);
$extra_two:#282828;
$extra_three:#e1dddd4f;
$extra_four:#28100b;
//font size

$font-size: (
    "bold":30px,
    "medium":20px,
    "regular":16px,
    "small":14px,
);


//font weight
$font-weight:(
    "bold":700,
    "medium":500,
    "regular":300,
)